@media screen and (min-width: 900px) {
  .category main a {
    background-image: url(../assets/category.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: auto;
  }
}
